<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.miniproject/menu.application.title" opened="true">
        <item view="User.list" title="msg://com.company.miniproject.view.user/UserListView.title"/>
        <item view="University.list" title="msg://com.company.miniproject.view.university/universityListView.title"/>
        <item view="Teacher.list" title="msg://com.company.miniproject.view.teacher/teacherListView.title"/>
        <item view="LopHoc.list" title="msg://com.company.miniproject.view.lophoc/lopHocListView.title"/>
        <item view="Student.list" title="msg://com.company.miniproject.view.student/studentListView.title"/>
        <item view="Mark.list" title="msg://com.company.miniproject.view.mark/markListView.title"/>

    </menu>

</menu-config>